$widthLogo: 130px;
$familyTitles: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
$familyText: Georgia, 'Times New Roman', Times, serif;
$sizeTitle: 32px;
$sizeSubtitle: 24px;
$sizeText: 16px;
$sizeLink: 14px;
$borderLink: 2px solid #fecd2f;
$widthEncabezado: 99%;
$borderEncabezado: 2px solid lightgray;
$sizeBars: 25px;
$paddingBars: 10px;
$colorBars: #464646;
$widthMainContent: 97%;
$marginMainContent: 7% 1%;
$marginTitles: 5%;
$spaceTitle: 20px;
$marginTitle: 5% 0;
$spaceSubtitle: 5px;
$widthCuadros: 100%;
$marginTextoImg: 1px;
$borderTextoImg: 2px solid lightgrey;
$borderShowMore: 2px solid black;
$backColorShowMore: #fecd2f;
$widthShowMore: 100%;
$sizeShowMore: 100%;
$paddingTextImg: 3%;
$marginPhotos: 5%;
$spacePhotos: 5px;
$marginLinkPhotos: 5%;
$widthImgPhotos: 80%;
$widthFooter: 97%;
$marginFooter: 4% 0 1% 1%;
$backColorFollow: #333333;
$paddingCuadrantes:10%;
$spaceSubtitleCuadrantes: 5px;
$sizeIcons: 30px;
$marginIcons: 0 5%;
$colorTwitter: #39a8ee;
$colorFacebook: #435399;
$colorInstagram: #577da5;
$backColorSubscribe: #dddddd;
$paddingSubscribe: 3%;
$spaceSubscribeH5: 3px;
$paddingSubscribeH5: 3% 0;
$backColorSignup: #fecd2f;
$sizeSignup: 18px;
$borderEmail: 1px solid #d4d4d4;
$borderTopCol2: 7%;
$marginBottomEmail: 20px;
$marginBottonCol2: 20px;
$sizeEmail: 18px;